/* Added font styles from Google Fonts */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */

body{
  background-color: #F5F8FF;
}

.text-primary{
  color: #4E47FF;
}

.text-secondary{
  color: #fd3894
}

.section-title{
  color: #252432;
  font-weight: bold;
  font-size: 40px;
}

.text-description{
  color: rgba(37, 36, 50, 0.5);
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}

.image{
  border-radius: 48px;
}

/* Animation Effects */

.btn-animation:hover{
  cursor: pointer;
  background-color: #fd3894;
  transform: translateY(-4px);
}

.image-animation:hover{
  transform: translateY(-4px);
  box-shadow: 0 8px 20px #fd3894 ;
}

.review-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 8px 10px #fd389480
}

/* Main Styles */
main{
  max-width: 1140px;
  margin: 0 auto;
  
}

/* Header Styles */

.header{
  background-image: url('../images/Hero-bg.png');
  background-position: top;
  width: 100%;
  height: 100%;
}

/* Navigation bar styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    
}

.nav-title{
    font-weight: 900;
    font-size: 34px;
}

/* Banner Styles */

.banner{
  text-align: center;
}

.banner-title{
  font-weight: bold;
  font-size: 65px;
  
}

.btn-stay-focused{
  margin-bottom: 90px;
}

/* Action Section Styles */

.action{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 130px;
}

.action-content{
  max-width: 520px;
}

.action-title{
  font-weight: bold;
  font-size: 42px;
}

.action-description{
  font-size: 24px;
}

/* Productive User Section */

.productive-user{
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  text-align: center;
  padding: 50px 142px;
  margin-top: 130px;
}

.user-items{
  display: flex;
  justify-content: space-around;
}

.item-title{
  font-weight: bold;
  font-size: 80px;
  margin: 0;
  color: #4E47FF;
}

.item-description{
  color: rgba(37, 36, 50, 0.5);
  margin-top: 0;
}

/* User Review Section */

.user-review{
  margin-top: 130px;
}

.user-review-sec-title{
  text-align: center;
}

.review-cards{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.review-card{
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #F2EDED;
  border-radius: 14px;
  max-width: 365px;
  max-height: 245px;
  padding: 24px;
}

.review-item{
  display: flex;
  align-items: last baseline;
  gap: 12px;
}

.use-details{
  text-align: left;
}

.avatar{
  border-radius: 50%;
}
.user-name{
  margin-bottom: 1px;
  color: rgba(0, 0, 0, 0.5);
}

.review-date{
  margin-top: 1px;
}

/* Ready To Focus Section */
.ready-to-focus-items{
  background-color: white;
  max-width: 1140px;
  border-radius: 14px;
  padding: 70px 150px;
  text-align: center;
  margin-top: 130px;
}

.ready-to-focus-item{
  margin-bottom: 20px;
}

/* Let's Get in Touch Section */

.Contact{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 90px;
}

.contact-title{
  font-size: 97px;
}

input[type="text"], input[type="email"], textarea{
  display: block;
  height: 40px;
  width: 450px;
  padding: 20px 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #D6DDED;
  color: rgba(0, 0, 0, 0.5);
}

input[type="submit"]{
  height: 60px;
  width: 100%;
}

legend{
  font-weight: medium;
  font-size: 18px;
}

/* Footer Section */
footer{
  background-color: white;
  padding: 104px 454px;
  text-align: center;
}

.footer-title{
  font-weight: 900;
  font-size: 90px;
  margin: 8px;
}

.footer-description{
  color: #8987A1 ;
  font-size: 20px;
  margin: 0 auto;
}

footer ul{
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-top: 20px; 
}

footer ul li{
  list-style: none;
}

footer li a{
  text-decoration: none;
  color: #8987A1;
}